<div class="table-container">
  <mat-toolbar color="primary">
    <span>{{ tableTitle }}</span>
  </mat-toolbar>
  <ag-grid-angular
    class="ag-theme-alpine grid-comp"
    [gridOptions]="gridOptions"
    [rowData]="rowData$ | async | tableDataTransform"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [allowContextMenuWithControlKey]="true"
    [getContextMenuItems]="getContextMenuItems"
    [rowSelection]="'multiple'"
    [rowMultiSelectWithClick]="hasSelection$ | async"
    [suppressRowClickSelection]="(hasSelection$ | async) === false"
    [sideBar]="sideBar"
  ></ag-grid-angular>
</div>
